li {
  list-style: none;
  /*border-bottom: 1px solid black;*/
}

#handle {
  color: black;
}

body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.panel-primary {
  width: 600px;
  position: fixed;
  margin-left: calc(50% - 300px);
  top: 0;
  bottom: 0;
  margin-bottom: 0;
}

#msgs {
}

#msgs-wrapper {
  overflow-y: scroll;
  height: calc(100% - 136px);
}

#input {
  width: 100%;
}
